<div class="sample" layout="column">
    <md-content class="md-padding">

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Aktiv">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Aktiv</h1>
                </md-content>
            </md-tab>
            <md-tab label="Geplant">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Geplant</h1>
                </md-content>
            </md-tab>
            <md-tab label="Rest">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Rest</h1>

                    <div ng-repeat="action in vm.actions">
                        <iom-action action="action" ></iom-action>
                        <br/>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>